.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr 45px;
}

.Grid>* {
    padding: var(--gap);
}

.Grid>:nth-child(1) {
    background-color: var(--primary);
    color: #fff;
}

.Grid>:nth-child(2) {}

.Grid>:nth-child(3) {
    background-color: #e1e1e1;
}