html {
    font-size: 16px;
}

html,
body,
#root {
    height: 100%;
}

* {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}


@media screen and (max-width: 600px) {
    .responsive {
        display: none;
    }
}